.expense-material, .expense-work{
  font-size: 24px;
}

input {
  width: 60%;
  border-radius: 5px;
}

 /* background: url(../img/undraw_coffee_break_h3uu.svg) no-repeat;*/

.amount{
  color:#467347;
}