.contact {
  color: #404040;
  text-align: center;
  background: white;
  border-radius: 7px;
  margin: auto;
  padding: 40px;
}

.contact-card{
text-align: left;
font-size: larger;
line-height: 2;
}

.contact-card li:first-child{
  font-weight: bold;
}

.contact-card svg {
  vertical-align: middle;
}

.contact-card li{
  list-style-type:none;
  }

.contact-card a {
  color: inherit;
  text-decoration: none;
}

.contact-card a:visited {
  color: #7c917c;
  text-decoration: none;
}

.contact-card a:hover {
  color: #2d332d;
}

.contact-card a:active {
  color: black;
}