.navbar {
  color: #404040;
  background: white;
  border-radius: 7px;
  margin: auto;
  margin-bottom: 20px;
  font-size: x-large;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navbar li {
  font-size: large;
}

ul{
  margin-block-start: 0;
  margin-block-end: 0;
}

.nav-logo{
  max-width: 50px;
  max-height: 50px;
  opacity: 0.5;
  margin: 10px;
}

.nav-links{
  list-style: none;
  font-weight: bold;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navbar a {
  padding: 0.09em 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar a:visited {
  color: #7c917c;
}

.navbar a:hover {
  background-color: #7c917c;
  color: white;
}

.navbar a:active {
  background-color: black;
}

.nav-links a {
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}