.product-card{
  width: 200px;
  height: 325px;
  margin: 2px;
  border: 1px solid var(--main-bg-color);
  border-radius: var(--small-border-radius);
  color: var(--main-bg-color);
}

.product-image{
  max-width: 180px;
}