.renovation {
  color: #404040;
  text-align: center;
  background: white;
  border-radius: 7px;
  margin: auto;
  padding: 40px;
}

.renovation-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
