.services {
  color: #404040;
  text-align: center;
  background: white;
  border-radius: 7px;
  margin: auto;
  padding: 40px;
}

.services-type{
  text-align: left;
  font-weight: bold;
}

.services-type li{
  font-weight: normal;
}