.webshop {
  color: var(--main-text-color);
  text-align: center;
  background: white;
  border-radius: var(--main-border-radius);
  margin: auto;
  padding: 40px;
}

.product-shelf{
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}